@import "./utilities/_variables";
@import "./reset/_reset.scss";

// Components
@import "./components/_navbar";
@import "./components/_boton";
@import "./components/_footer";


.text_center {
  text-align: center;
}
@mixin sizes($width, $height) {
  width: $width;
  min-height: $height;
}
/** Header **/
.header {
  @include sizes(100%, 195px)
}

.bg-color {
  background-color: map-get($paletaDeColores, rosaPastel);
  color: map-get($paletaDeColores, rosaPastel);
}

/** INDEX **/
.section_title {
  font-family: Caudex, sans-serif;
  font-weight: 400;
  color: map-get($paletaDeColores, rosa);
  font-size: 42px;
  line-height: 1.17em;
  margin: 25px 0;
  text-align: center;
}

.productos_index {
  height: auto;
  width: 100%;
  padding: 1rem;
}

.productos_inicio {
  border: 2px solid #ee8fa5;
  height: 300px;
  margin: 1rem;
}

.productos_inicio:hover {
  transform: scale(1.05);
  transition: all 0.9s;
  box-shadow: 2px 2px 5px #333;
}

#producto1 {
  background-image: url(../img/UnaPorcion.png);
  background-size: cover;
  background-position: center;
}

#producto2 {
  background-image: url(../img/cheesecake_arandanos.jpg);
  background-size: cover;
  background-position: center;
}

#producto3 {
  background-image: url(../img/cheesecake_frutos.jpg);
  background-size: cover;
  background-position: center;
}

#producto4 {
  background-image: url(../img/cheesecake_newyork.jpg);
  background-size: cover;
  background-position: center;
}

#sec1 {
  background-image: url(../img/portrait-woman.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  margin: 1rem;
}

#sec2 {
  background-image: url(../img/UnaPorcion.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  margin: 1rem;
}

.section_bot {
  height: auto;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
}

.imagen-contacto {
  height: auto;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
}

.contenido-contacto {
  align-self: start;
}

.subir {
  height: 40px;
  width: 40px;
  background-color: map-get($paletaDeColores, lila);
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  color: map-get($paletaDeColores, violeta);
  border: 3px solid #48194F;
  border-radius: 50px;
  box-shadow: 0 0 5px #9657a2;
}

/* Productos */
@import "./pages/_productos";

/* NOSOTROS */
@import "./pages/_nosotros";

/* RECETAS */
@import "./pages/_recetas";

/* CONTACTO */
@import "./pages/_contacto";