.footer {
    background-color: map-get($paletaDeColores, rosaPastel);
    margin-top: 2rem;
    text-align: center;
    text-transform: capitalize;
    min-height: 80px;
    width: 100%;
    color: map-get($paletaDeColores, blanco);

    &__redes {
        font-size: 40px;
        color: map-get($paletaDeColores, violeta) !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
        letter-spacing: 20px;
    }
}

.footer p {
    font-size: 20px;
}
.footer__redes a {
    color: map-get($paletaDeColores, violeta) !important;
    text-decoration: none;
}

.footer__redes a:hover {
    color: map-get($paletaDeColores, violetaClaro) !important;
    text-decoration:none; 
    cursor:pointer;  
}