* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Catamaran", sans-serif;
    font-size: 17px;
    line-height: 1.88em;
    font-weight: 400;
    background-image: url(../img/fondo_doce.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

/** Globales **/
h1,
h2,
h3 {
    font-family: "Caudex", serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}